<div class="row">   

    <h2 style="text-align:center">Students Details</h2>
        <input *ngIf="table_show" type="text" class ="form-control" [(ngModel)]="searchString" placeholder="Search for names.." 
          title="Type in a name">

        <br>
        <h1 style="text-align:center" *ngIf="!table_show">{{validation_msg}}</h1>
           <table  *ngIf="table_show"class="table  table-striped">
            
            <thead>
                <th class="text-center">
                    <input type="checkbox" name="all" 
                    [checked]="isAllChecked()" (change)="checkAll($event)"/>
                </th>
              <th>Name</th>
              <!-- <th>Address</th> -->
              <!-- <th>DateOfBirth</th> -->
              <th>PlaceOfBirth</th>
              <th>StaffName</th>
              <th>class  &nbsp;
                  <select (click)="populateClassDetails()" [(ngModel)]="class_selected">
                    <option></option>
                    <option *ngFor="let i of teacher_classes">{{i}}</option>
                    </select>   
              <th>MobilePhone</th>
             
            

            </thead>
            <tbody >
              <tr *ngFor="let s of students | filter : searchString | filter : class_selected | paginate: { itemsPerPage: 5, currentPage: p }">
                  <td class="text-center">
                      <input type="checkbox" 
                      value="{{s}}" [(ngModel)]="s.state"/>
                  </td>
               <td> <a href="#" (click)="fun4(s)" data-toggle="modal" data-target="#myModalNorm">{{s.Name}}</a> </td>
               <td > {{s.PlaceOfBirth}} </td>
               <td> {{s.StaffName}} </td>
               <td> {{s.class}} </td>
               <td > {{s.MobilePhone}} </td>
                </tr>
              </tbody>
             
          </table>
          <pagination-controls *ngIf="table_show" (pageChange)="p = $event"></pagination-controls> 
         
          <div  *ngIf="table_show" style="text-align:center">
            <button type="button" data-toggle="modal" data-target="#message"(click)="autoPopulateMessage()" class="btn  btn-primary">Send Message</button>
        </div>
</div>









<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   Add Student Details
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
               
                <form role="form" #f="ngForm"  novalidate>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                          <input type="text" class="form-control"  pattern="[a-zA-Z][a-zA-Z ]*"
                          [(ngModel)]="student_info.Name" name="name" #name="ngModel" required placeholder="Enter Student Name"/>
                          <div [hidden]="name.valid || name.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!name.hasError('required')">Name is required</div>
                          <div [hidden]="!name.hasError('pattern')">Only alphabetsallowed</div>
                       </div>
                      </div>
                      
                     
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Mobile Number</label>
                          <input type="text" class="form-control"
                          [(ngModel)]="student_info.MobilePhone" name="mb"   pattern="[0-9]*"
                          minlength="10"
                          maxlength="10" 
                          #mobile="ngModel"required  placeholder="Enter Mobile Number"/>
                          <div [hidden]="mobile.valid || mobile.pristine"
                            class="alert alert-danger">
                            <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                            <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                            <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
                         </div>
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Date Of Birth</label>
                          <input type="date" class="form-control" [value]="student_info.DateOfBirth"
                          [(ngModel)]="student_info.DateOfBirth" name="dob"  #dob="ngModel" required   placeholder="Enter Date of birth"/>
                          
                          <div [hidden]="dob.valid || dob.pristine" 
                            class="alert alert-danger">
                            <div [hidden]="!dob.hasError('required')">Date Of Birth is required {{dob.value}}</div>  
                         </div>
                         <div *ngIf="dob.value && futureDateCheck(dob.value)"class="alert alert-danger">
                         Date Of Birth cannot be a future date  
                         </div>
                           
                         
    
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Place Of Birth</label>
                          <input type="text" class="form-control"
                          [(ngModel)]="student_info.PlaceOfBirth" name="pob" #pob="ngModel"required pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Place of birth"/>

                          <div [hidden]="pob.valid || pob.pristine"
                          class="alert alert-danger">
                          <div [hidden]="!pob.hasError('required')">Place of birth is required</div>
                          <div [hidden]="!pob.hasError('pattern')">Place of birth should contain only alphabets</div>
                       </div>
                      </div>
                  </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 col-sm-6">

                  <div class="form-group">
                    <label for="exampleInputPassword1">Class</label>
                      <input type="text" class="form-control"
                      [(ngModel)]="student_info.class" name="class" 
                      
                      minlength="2" maxlength="3" required  pattern="[0-9]{1}[0-2]{0,1}[A-Z]{1}" #class="ngModel"
                        placeholder="Enter the class name with section"/>
                        
                        <div [hidden]="class.valid || class.pristine" 
                        class="alert alert-danger">
                        <div [hidden]="!class.hasError('required')">Class is required</div>
                        <div [hidden]="!class.hasError('pattern')">Class should be in proper format</div>
                     </div>

                  </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                      <label for="exampleInputPassword1">Teacher Name</label>
                        <label class="form-control"
                       
                     >{{student_info.StaffName}}</label>
                        

                    </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Address</label>
                      <textarea class="form-control" name="address"  [(ngModel)]="student_info.Address" required placeholder="Enter the address of student"></textarea>
                  </div>


                 

                  <label>Gender</label>
                  <label class="radio-inline">&nbsp;&nbsp;
                    <input type="radio"  [(ngModel)]="student_info.Sex" required name="gender" value="Male" [attr.checked]="student_info.Sex=='Male'?'checked':null">Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" [(ngModel)]="student_info.Sex" required name="gender" value="Female" [attr.checked]="student_info.Sex=='Female'?'checked':null"> Female
                  </label>
                  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                
          
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                
                <button type="button" data-dismiss="modal" (click)="updateDetail(student_info);" [disabled]="!f.form.valid || (dob.value && futureDateCheck(dob.value))" class="btn btn-primary">
                    Save Details
                </button>
            </div>

          </form>
                
                
        </div>

        </div>
    </div>
</div>




<div class="modal fade" id="message" tabindex="-2" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="messageLabel">
                   Send Message
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
               
                <form role="form" #form="ngForm"  novalidate>
                  
                   
                    
                
                      <div class="form-group">
                        <label for="exampleInputPassword1">TO</label>
                          <input type="text" class="form-control"
                          [(ngModel)]="message.to" name="to"   pattern="(?:\s*\+91\d{10}\s*(?:,|$))+"
                          #mobile="ngModel"required  placeholder="Enter Mobile Number"/>
                          <div [hidden]="mobile.valid || mobile.pristine"
                            class="alert alert-danger">   
                            <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                            <div [hidden]="!mobile.hasError('pattern')">Mobile numbers should be only numbers</div>
                         </div>
                    </div>
               
                    <div class="form-group">
                        <label for="exampleInputPassword1">FROM</label>
                          <input type="text" class="form-control"
                          [(ngModel)]="message.from" name="from"   pattern="(([^<>()[\]\\.,;:\s@\']+(\.[^<>()[\]\\.,;:\s@\']+)*)|(\'.+\'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))"
                          #from="ngModel"required  placeholder="Enter Mobile Number"/>
                          <div [hidden]="from.valid || from.pristine"
                            class="alert alert-danger">   
                            <div [hidden]="!from.hasError('required')">Teacher Name is required</div>
                            <div [hidden]="!from.hasError('pattern')">Teacher Name should contain only alphabets</div>
                         </div>
                    </div>
              
            

                  <div class="form-group">
                    <label for="exampleInputPassword1">Body </label>
                      <textarea class="form-control" name="address" rows="5"  [(ngModel)]="message.body" required placeholder="Enter the address of student"></textarea>
                  </div>
                
          
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                
                <button type="button" data-dismiss="modal" (click)="sentMessage();" [disabled]="!form.form.valid " class="btn btn-primary">
                  Send Message
                </button>
            </div>

          </form>
                
                
        </div>

        </div>
    </div>
</div>